@import "../global-styles/vars";
.comments {
  padding: 15px;
  border-top: 5px solid $accentColor;
  background: $outlineColor;
  display: flex;
  flex-direction: column;
  &__item {
    display: flex;
    margin-bottom: 15px;
    margin-top: 15px;
    &__icon {
      display: flex;
      justify-content: center;
      width: 50px;
    }
    &__post {
      &__name {
        display: flex;
        align-items: center;
      }
      &__action {
        display: flex;
        justify-content: flex-end;
        .action-like {
          transition: .2s ease-in-out;
          &:hover {
            color: purple;
          }
        }
      }
    }
  }
}
