@import "../global-styles/vars";
.tabs {
  width: 100%;
  display: flex;
  overflow-x: auto;
  margin-top: 15px;
  &__item {
    min-width: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background:  #339FEF;
    color: white;
    cursor: pointer;
    position: relative;
    z-index: 1;
    overflow: hidden;
    &:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background: linear-gradient(90deg, #3D42D6 0%, #32A0EF 100%);
      top: 0;
      left: -100%;
      transition: .3s ease-in-out;
      z-index: -1;
    }
    &:hover:after {
      left: 0;
    }
  }
  &__item-active {
    background: transparent;
    color: #2F3B57;
    &:hover:after {
      left: -100%;
    }
    &:before {
      content: "";
      position: absolute;
      top: 0; left: 0;
      width: 100%;
      height: 3px;
      background: linear-gradient(90deg, #3D42D6 0%, #32A0EF 100%);
    }
  }
  &__item-disabled {
    background: $inactiveColor;
    color: #8991A3;
    &:hover:after {
      left: -100%;
    }
  }
}
