// FONTS
$semiBoldFont: 'Open Sans SemiBold', sans-serif;
$regularFont: 'Open Sans Regular', sans-serif;
$boldFont: 'Open Sans Bold', sans-serif;

// COLORS: MAIN
$dropdownsStrokeColor: #EEEEF2;
$activeStrokeColor: #EDF2FF;
$secondaryColor: #8991A3;
$outlineColor: #D3DFFF;
$accentColor: #3D42D6;
$baseColor: #2F3B57;

// COLORS: STATE COLORS
$progressColor: #F0B459;
$inactiveColor: #DCDBDB;
$successColor: #5BDB9E;
$errorColor: #FF2B2B;
