@import 'fonts', 'ui', 'vars';

.app {
  height: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  &__menu {
    height: 100vh;
    width: 300px;
    position: relative;
    .menu-layout {
      position: fixed;
      top: 0;
    }
  }

  &__content {
    width: 600px;
    display: flex;
    flex-direction: column;
    border-right: .5px solid $outlineColor;
    border-left: .5px solid $outlineColor;
    position: relative;
    &__title {
      width: 600px;
      height: 60px;
      border-bottom: .5px solid $outlineColor;
      display: flex;
      align-items: center;
      position: fixed;
      background: rgb(240, 240, 240);
    }

    &__main {
      padding: 10px;
      margin-top: 60px;
    }
  }

  &__recommended {
    height: 100vh;
    width: 300px;
    position: relative;
    .recommended-layout {
      position: fixed;
      top: 0;
    }
  }
}

.mr-10 {
  margin-right: 10px;
}

.pl-10 {
  padding-left: 10px;
}

.pr-10 {
  padding-right: 10px;
}

.cursor-pointer {
  cursor: pointer;
}

