@import "../global-styles/vars";
.recommended-people {
  &__title {
    padding: 10px;
    border-bottom: 5px solid $accentColor;
  }
  &__list {
    &__item {
      display: flex;
      cursor: pointer;
      width: 100%;
      transition: .2s ease-in-out;
      &:hover {
        background: $activeStrokeColor;
      }
      &__icon {
        padding: 10px;
        display: flex;
        justify-content: center;
        width: 50px;
        flex: 0 auto;
      }
      &__info {
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex: 0 auto;
        flex-grow: 1;
        .user-name__btn {
          margin-left: auto;
          display: flex;
          justify-content: flex-end;
        }
      }
    }
  }
}
