@import "assets/global-styles/vars";
.ui-post {
  border-bottom: .5px solid $outlineColor;
  transition: .2s ease-in-out;
  cursor: pointer;
  display: flex;
  padding: 15px;
  &:hover {
    background: $outlineColor;
  }
  &__profile-icon {
    width: 60px;
    height: 60px;
    display: flex!important;
    justify-content: center;
    align-items: center;
  }
  &__post {
    display: flex;
    flex-direction: column;
    &__login {
      margin-bottom: 15px;
      transition: .2s ease-in-out;
      &:hover {
        color: $accentColor;
      }
    }
    &__desc {
      margin-bottom: 25px;
    }
    &__action {
      display: flex;
      align-items: center;
      justify-content: space-around;
    }
    .line-clamp {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -moz-box;
      -moz-box-orient: vertical;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      line-clamp: 2;
      box-orient: vertical;
    }
  }
}

